<div class="map-container">
    <google-map height="500px" width="900px" [options]="mapOptions">
      <map-marker *ngIf="markerPosition.position" [position]="markerPosition.position" [label]="markerPosition.label"></map-marker>
    </google-map>
  
    <div class="place-card" *ngIf="markerPosition.label.text">
      <p class="place-card__business-name"><strong>{{ markerPosition.label.text }}</strong></p>
      <p class="place-card__info">{{ markerPosition.label.address }}</p>
      <div class="rating-box">
        <div class="rating-number"><strong>{{ rating }}</strong></div>
        <div class="rating-stars">
          <!-- Use os ícones do Bootstrap para criar as estrelas -->
          <i *ngFor="let star of getStarsArray(rating)" [ngClass]="{'bi bi-star-fill': star.type === 'full', 'bi bi-star-half': star.type === 'half', 'bi bi-star': star.type === 'empty'}" [style.color]="star.color"></i>
        </div>
      </div>
    </div>
  </div>