<header id="header">
    <div class="container">
        <div class="flex">
            <img src="../assets/icon.png">
            <nav>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a pageScroll href="#servicos">SERVIÇOS</a></li>
                    <li><a pageScroll href="#localizacao">LOCALIZAÇÃO</a></li>
                </ul>
            </nav>
            <div class="btn-zap">
                <a href="https://api.whatsapp.com/send?phone=SEU_NUMERO_DE_TELEFONE" target="_blank"
                    class="btn btn-success btn-lg">
                    <i class="bi bi-whatsapp"></i>
                    <span style="color: white;"> WHATSAPP</span>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="background-with-filter">
    <div class="background-image"></div>
    <div class="background-image-filtered">
        <img src="../assets/pneumania-logocomnumero.png">
    </div>
</section>
<section class="servicos" id="servicos">
    <div class="container text-center">
        <h2>SERVIÇOS</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="../assets/pneu-venda.png" class="card-img-top img-fluid" alt="Serviço 1">
                    <div class="card-body">
                        <h5 class="card-title">VENDAS</h5>
                        <p class="card-text">Amplie suas opções com nossa seleção de Pneus Multimarcas. Encontre a
                            melhor combinação de desempenho e durabilidade para o seu veículo, garantindo segurança e
                            conforto em cada viagem.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="../assets/alinhamento.png" class="card-img-top img-fluid" alt="Serviço 2">
                    <div class="card-body">
                        <h5 class="card-title">ALINHAMENTO</h5>
                        <p class="card-text">
                            Oferecemos o <b>Alinhamento 3D.</b> Direção suave, pneus duráveis e manuseio preciso, tudo
                            em um serviço avançado para sua tranquilidade na estrada.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="../assets/balanceamento.png" class="card-img-top img-fluid" alt="Serviço 3">
                    <div class="card-body">
                        <h5 class="card-title">BALANCEAMENTO</h5>
                        <p class="card-text">Equilíbrio perfeito é a chave para uma direção suave. Com nosso
                            Balanceamento Computadorizado, seus pneus terão um desempenho impecável, reduzindo vibrações
                            e garantindo uma experiência de condução excepcional.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="../assets/suspensao.png" class="card-img-top img-fluid" alt="Serviço 4">
                    <div class="card-body">
                        <h5 class="card-title">SUSPENSÃO</h5>
                        <p class="card-text">Garanta uma condução suave e segura. Nossos especialistas cuidam da sua suspensão para máximo conforto na estrada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="localizacao" id="localizacao">
    <h2>NOSSA LOCALIZAÇÃO</h2>
    <div class="map-container">
        <app-maps></app-maps>
    </div>
</section>
<footer class="text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h3>Informações de Contato</h3>
                <p><i class="bi bi-geo-alt-fill"></i> Endereço: SIA Q 5 C Lote Loja 32 - Brasília, DF, 71200-035</p>
                <p><i class="bi bi-telephone-fill"></i> Telefone: (61) 3233-9704</p>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end align-items-center">
                <div class="text-md-right">
                    <h6>Pneu Mania</h6>
                    <p>Todos os direitos reservados &copy; 2023</p>
                    <a href="https://api.whatsapp.com/send?phone=SEU_NUMERO_DE_TELEFONE" target="_blank" class="btn btn-success">
                        <i class="bi bi-whatsapp"></i> Contato via WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>